= open_graph_and_meta_tags title: "Search"

%div.row
  %div.span8
    %h1 Search
    %form.search-form
      %div.control-group
        %i.icon-search
        %input.search-query{type: "search", name: "q", placeholder: "Search", value: params[:q]}
    %p
      Displaying results for
      %strong= params[:q]

    %ul.results.unstyled
      - @results.each do |result|
        %li.result{class: result.class.model_name.element}
          = render partial: result.class.model_name.collection + "/result", object: result
