%article.media-badge.topic
  %a.avatar{href: topic_path(topic)}
    - if topic.image.present?
      = image_tag topic.image.thumb
    - else
      %i.icon-bullhorn
  %section.body
    %a{href: topic_path(topic)}
      %h4= topic.name
    %small.description
      = raw truncate_html(topic.description)
    - if topic.episodes_count > 0
      %small{style: "display: block"}
        %em
          = link_to pluralize(topic.episodes_count, "episode"), topic_path(topic, anchor: "appearances")

