%article.media-badge.person
  %a.avatar{href: topic_path(topic)}
    = image_tag topic.image.thumb
  %section.body
    %a{href: topic_path(topic)}
      %h4= topic.name
    %small
      - if topic.title.present?
        = topic.title
      - else
        = raw truncate_html(topic.description)
