%article.media-badge.person
  %a.avatar{href: topic_path(topic)}
    - if topic.image.present?
      = image_tag topic.image.thumb
    - else
      %i.icon-bullhorn
  %section.body
    %a{href: topic_path(topic)}
      %h4= topic.name
    %small
      = raw truncate_html(topic.description)
