= open_graph_and_meta_tags title: @topic.name,
                           description: @topic.description

%h4.muted
  %a{href: topics_path} Topics

%h1= @topic.name

= raw @topic.description

%h3 Episodes
= render partial: "episodes/mini_collection", locals: { episodes: @topic.episodes }

/ - if @topic.assignables.any?
/   %div.related{style: "margin-bottom: 20px"}
/     = render @topic.assignables
/ - else
/   %p There are no episodes or posts for this topic.
