= page_header title,
  crumbs: crumbs,
  subtitle: render(partial: 'episodes/groups_nav')

%div.row-fluid
  %div.span2
    %div#side-navbar.apply-affix
      %ul.nav
        - groups.each.with_index do |(name, _), idx|
          %li{class: idx == 0 ? "active" : ""}
            %a{href: "##{name.parameterize}"}= name

  %div.span10
    %ul.unstyled.grouped
      - groups.each do |name, items|
        %li{id: name.parameterize, data: { "offset-top" => "20" }}
          %h3= name
          %div.items.clearfix
            = render items
