%header#header
  %section.container
    %div.navbar
      %nav.navbar-inner
        = link_to "", root_path, class: "brand"

        = render 'shared/nav_links'


        %ul.nav.pull-right
          %li
            %form.navbar-search{action: search_path, method: :get}
              %div.control-group
                %i.icon-search
                %input.search-query{type: "search", name: "q", placeholder: "Search", value: params[:q]}
