%header#header.full-width
  %section.container-fluid
    %div.navbar
      %nav.navbar-inner
        %a.brand{href: root_path, title: "Logo", data: { track: true }}

        %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
          %i.icon-reorder

        %div.nav-collapse.collapse
          = render 'shared/nav_links'

          %ul.nav.pull-right
            %li
              %form.navbar-search{action: search_path, method: :get, title: "Search", data: { track: true }}
                %div.control-group
                  %i.icon-search
                  %input.search-query{type: "search", name: "q", placeholder: "Search", value: params[:q]}
