%header#header
  %section.container
    %div.navbar
      %nav.navbar-inner
        = link_to "", root_path, class: "brand"

        = render 'shared/nav_links'


        / %ul.nav.pull-right
        /   %li
        /     %form.navbar-search{action: search_path, method: :get}
        /       %i.icon-search
        /       %input.search-query{type: "search", name: "q", placeholder: "Search", value: params[:q]}
        %ul.nav.pull-right
          %li.share-button(style="margin-top: -3px")
            %div.navbar-text= facebook_like
          %li.share-button
            %div.navbar-text= twitter_follow
