%header#header
  %section.container
    %div.navbar
      %nav.navbar-inner
        = link_to "", root_path, class: "brand"

        %ul.nav
          = render 'shared/nav_links'

        %ul.nav.pull-right
          %li.share-button(style="margin-top: -3px")
            %div.navbar-text= facebook_follow
          %li.share-button
            %div.navbar-text= twitter_follow
