%div.popover.top
  %div.arrow
  %div.popover-inner
    %h3.popover-title Share
    %div.popover-content
      %div Direct link
      %div.copy-shareable-url.input-append
        %input.shareable-url.copyable{readonly: true, type: "text", value: episode.canonical_short_link, readonly: true}
        %button.btn.share-link{type: "button", title: "Copy link", data: { toggle: "tooltip" }}
          %i.icon-copy

      %div Embed code
      %textarea.copy-embed-code.copyable{readonly: true, wrap: "hard"}
        %div{style: "position: relative; padding-bottom: 59.25%; height: 0; overflow: hidden; width: 100%;"}
          %iframe{src: player_url_for(episode), frameborder: 0, allowfullscreen: true, style: "position: absolute; top: 0; left: 0; width: 100%; height: 100%;"}
