%div.popover.top
  %div.arrow
  %div.popover-inner
    %h3.popover-title Share
    %div.popover-content
      %div Direct link
      %div.copy-shareable-url.input-append
        %input.shareable-url.copyable{readonly: true, type: "text", value: episode.canonical_short_link, readonly: true}
        %button.btn.share-link{type: "button", title: "Copy link", data: { toggle: "tooltip" }}
          %i.icon-copy

      %div Embed code
      %textarea.copy-embed-code.copyable{readonly: true, wrap: "hard"}
        :escaped
          #{play_controls embed: true, episode: episode}
