%div.share-this
  %ul.unstyled.social-icons-vertical
    %li.facebook-like
      = facebook_like request.original_url
    %li.twitter
      = twitter_share

  %div.copy
    %label Share this episode!
    %div.copy-shareable-url.input-append
      %input.shareable-url{type: "text", value: request.original_url, readonly: true}
      %button.btn{type: "button", class: "share-link"}
        %i.icon-copy
