%div.share-this
  %h3 Share this #{type}
  %label Copy link:
  %div.copy-shareable-url.input-append
    %input.shareable-url{type: "text", value: request.original_url, readonly: true}
    %button.btn{type: "button", class: "share-link"}
      %i.icon-copy
  %ul.social-icons
    %li.facebook-like
      = facebook_like
    %li.twitter
      = twitter_share
  %div.clearfix
