- episodes.in_groups_of(2).each do |group|
  %div.row-fluid.clearfix{style: "margin-bottom: 20px"}
    - group.compact.each do |episode|
      %div.span6= render partial: "episodes/mini_episode", locals: { episode: episode }
