%div#share-modal.modal.hide.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "share-modal-label", "aria-hidden" => true}
  %div.modal-header
    %button.close(type="button" data-dismiss="modal" aria-hidden="true")
      %span Close
      &times;
    %h3 &nbsp;

  %div.modal-body
    %div.modal-contents
      %div.step.intro
        %h3 There's nothing better than a good story.
        %p Especially when it's true.
        %div.buttons
          %a.btn.btn-large.btn-primary{title: "Modal next step", href: "#", data: { track: true }} I agree
          %a.btn.btn-large.btn-dismiss{title: "Modal dismiss", href: "#", data: { dismiss: "modal" }} I disagree

      %div.step.subscribe
        %h3 Awesome. We think alike.
        %p
          On our show, we tell inspiring true stories about people changing the world.
          And then we write a delicious email about each episode.
          %br <strong>Take a look!</strong> Or not; totally up to you.

        %form.subscribe.form-inline{action: subscribe_path, method: :post, data: { remote: true }}
          %div.row-fluid
            %div.span6.vertical-gap-phone
              %input.input-large.input-block-level(placeholder="Email Address" type="email" name="subscriber[email]" required)
            %div.span4
              %a.submit.btn.btn-primary.btn-large.btn-block{href: "#"}
                Let's do this!

      %div.step.thanks
        %h3 Awesome!
        %p You're all set. See you in your inbox. Meanwhile, enjoy the show.
