%div.play-controls
  %div{"data-mp3-uri" => url}
  %a.jp-play
    %i.icon-play
  %a.jp-pause
    %i.icon-pause

  %div.bar
    %span.jp-current-time
    %span.jp-duration
    %div.jp-seek-bar
      %div.jp-play-bar
