%h4
  %a{href: root_path} Home

%h1 Episodes

%div{data: {bind: "with: episodeFilter"}}
  %form.form-inline
    %div.row-fluid
      %div.span10
        %select{name: "guest-filter", multiple: true, data: { placeholder: "Search for a guest, topic, etc.", bind: "chosen: filters" }}
          - episode_filters.each do |name|
            %option{value: name.parameterize}= name

      %div.span2.hidden-phone
        %a.btn.input-block-level{data: { bind: "click: clearFilters"}}
          %i.icon-trash
          Clear

  %ul#episode-list.unstyled
    = render partial: "episodes/mixed", collection: @episodes
  = paginate @episodes
