%h1 Opening iTunes...

%p
  The iTunes app should load momentarily. If not, please
  %a{href: itunes_link, class: "itunes-direct", title: "iTunes Direct", data: { track: true }} click here.

%p
  Alternately, you can
  %a.visible-desktop.rss{href: podcast_link, title: "Subscribe via RSS", data: { track: true }} subscribe to the show via RSS
  or
  %a{href: root_path} visit our home page.

%div.row-fluid{style: "margin-bottom: 20px"}
  %div.span3.offset1.vertical-gap-phone
    %a.btn.btn-facebook.btn-block{href: "http://facebook.com/sharer.php?u=#{canonical_fb_url(@episode)}", target: "_blank", data: {url: canonical_fb_url(@episode)}}
      Share on Facebook
  %div.span3
    %a.btn.btn-twitter.btn-block{href: "http://twitter.com/intent/tweet?" + twitter_share_attrs(text: @episode.default_twitter_text, url: @episode.canonical_short_link || @episode_url).to_param, target: "_blank"}
      Share on Twitter
  %div.span3.hidden-phone
    %a.btn.btn-copy-embed.btn-block{role: "button", title: "Share", data: { toggle: "button popbetter" }}
      Embed or copy link
    = render(partial: "shared/link_modal", locals: { episode: @episode })

