= open_graph_and_meta_tags

%section.homepage-logo{style: "text-align: center;"}
  %a{href: root_path, style: "display: block; padding: 40px 0"}
    = image_tag "logo.png", style: "height: 200px"
  %h3= t 'description'

- @content.each do |c|
  %section.homepage-content{class: c.class.name.parameterize}
    %div.container
      %div.row-fluid
        %div.span10.offset1
          = render c
