%h4 Oops! Sorry about that.
%h1 The Erroneous 404 Page of Dissatisfaction

%p
  Your arrival here suggests that something is amiss. Why? Because there's no page
  at this link. If you think the problem is at our end, please pop us an email at
  #{mail_to t('email')}.

%p
  Or you could click our logo at the top to check out our awesome homepage––and enjoy the
  %a{href: latest_episodes_path} latest episode
  of our flagship radio show, #{t 'tag_short'}.
