%h4 Oops! Sorry about that.
%h1 The Unreliable 500 Page of Bugginess

%p
  Your arrival here means that something is amiss––it's possible that the Internet is on
  fire, or maybe our servers have exploded, but probably we just wrote some bad code.
  If you get a chance, please pop us an email at #{mail_to t('email')}.

%p
  Or you could click our logo at the top to check out our awesome homepage––and enjoy the
  %a{href: latest_episodes_path} latest episode
  of our flagship radio show, #{t 'tag_short'}.
