body#episodes.layout_a {
  background: transparent image-url("subtle_bg.png") top left repeat;

  #wrap {
    margin-top: 40px;
    margin-bottom: 0;
    min-height: 0;

    .episode.container {
      background-color: white;
      padding-top: 40px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  div.header {
    margin-bottom: 40px;
    margin-top: 20px;

    a.brand {
      width: 260px;
      height: 65px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    a.canonical-link {
      background-color: #ddd;
      border-radius: 5px;
      color: white;
      margin-top: 20px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover { background-color: #ccc; transition: background-color 0.2s; }

      > i {
        font-size: 28px;
        padding: 10px;
        border-right: 2px solid white;
      }

      > h4 {
        display: inline;
        padding: 5px 20px 5px 10px;
        font-size: 24px;
      }
    }
  }

  #push { height: 0; }

  > #footer {
    background-color: transparent;

    > .container {
      background-color: $baseGrey;
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }

  .episode-header {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

    .media-badge { margin-bottom: 0; }
  }

  .subscribe-after {
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  .host .media {
    img { width: 54px; height: 54px; }
  }

  .show-notes, .next-prev-episodes {
    margin-bottom: 40px;
  }

  .next-prev-episodes {
    a {
      display: block;
      i { font-size: 75px; color: $lightGrey; }
      h3 { font-size: 24px; color: $baseRed; }
    }
  }
}
