article.media-badge {
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 0 2px rgba(214, 28, 28, 0.8);
    @include transition(all 0.3s ease);
  }

  &:nth-child(even) { margin-right: 0; }

  float: left;

  > .avatar {
    vertical-align: top;
    display: inline-block;
    background-color: white;
    margin: 10px;
    overflow: hidden;
    width: 24%;
    text-align: center;
    border: 1px solid #ddd;

    &:hover { color: $lightGrey; }

    > i {
      font-size: 90px;
      line-height: 100px;
      width: 1.10em;
    }

    > img {
      vertical-align: middle;
    }
  }

  > .body {
    padding: 10px 10px 10px 0;
    width: 60%;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;

    h4 {
      color: $baseRed;
      margin: 0;
      font-size: 16px;
    }

    p {
      margin-bottom: 0;
    }
  }

  > .social {
    @include transition(height ease 0.5s);
    height: 29px;
    overflow: hidden;
    background-color: #ddd;
    padding: 0 5px 0 5px;
  }
}
