.share-buttons {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;

  a {
    display: block;
    height: 50px;
    position: relative;
    font-size: 14px;
    font-family: $headingsFontFamily;
    clear: left;

    @include transition(background-color linear $transitionDuration);

    i {
      color: white;
      font-size: 50px;
      line-height: 48px;
      float: left;
    }

    h1, h2, h3 { color: white; margin: 0; font-weight: 300; }
  }

  .facebook {
    font-weight: 300;
    background-color: $facebookBlue;
    i { margin-left: 28px; margin-right: 22px; }
    > .follow { background-color: darken($facebookBlue, 20%); padding-top: 5px; padding-bottom: 3px; }
    &:hover { background-color: darken($facebookBlue, 10%); }
  }

  .twitter {
    font-weight: 300;
    background-color: $twitterTeal;
    i { margin-left: 7px; margin-right: 10px; }
    > .follow { background-color: darken($twitterTeal, 20%); padding-top: 5px; padding-bottom: 2px; padding-right: 0; }
    &:hover { background-color: darken($twitterTeal, 10%); }
  }

  .subscribe {
    font-weight: 300;
    background-color: lighten($baseRed, 20%);
    i { font-size: 46px; margin-left: 4px; margin-right: 10px; }
    @include transition(background-color linear $transitionDuration);
    &:hover { background-color: lighten($baseRed, 10%); }
  }
}
