%article.post
  %header
    %a{href: post_path(post)}
      %h1= post.title
    %h1
    %p.muted
      = link_to post.author_name, "#"
      |
      %time(pubdate="pubdate")= post.created_at.to_s(:long)

  %p= raw post.content + link_to("more", post_path(post.slug), class: "action")
