// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "vendor/chosen";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.active_admin {
  .hidden { display: none; }

  .error {
    color: red;
  }

  fieldset.inputs > ol > li { clear: both; }

  .panel_contents {
    .chart {
      table {
        margin-top: 0;
        margin-bottom: 0;
        width: inherit;

        td.legendLabel { color: $text-color; font-size: 14px; }
      }
    }
  }

  #main_content {
    > iframe.preview {
      width: 100%;
      border: 1px solid #eee;
    }
  }

  ul.thumbs {
    margin: 0.5em 0 0 20%;
    list-style-type: none;

    > li {
      float: left;
      width: 125px;
      height: 125px;
      border: 1px solid #bbb;
      padding: 5px;
      background-color: white;
      margin: 4px 4px 4px 0;
      line-height: 125px;
      position: relative;

      img { vertical-align: middle; }

      &.new {
        background-color: #CFECFF;
        border: 1px solid #ddd;
      }

      &.drop {
        background-color: rgba(255,255,180,0.1);
        border: 1px dashed #EDE58E;
      }

      &:hover {
        .delete { display: block; }
      }

      .delete {
        display: none;
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: white;
        font-size: 1.6em;
        line-height: 0;
        padding: 2px;
      }
    }
  }

  table.listeners {
    tbody tr {
      cursor: pointer;
      &:hover, &.active { background-color: #eee; }
    }
  }
}
