$baseGrey: #292728;
$lightGrey: #999999;
$veryLightGrey: lighten($baseGrey, 80%);
$baseRed: #b0242f;
$headingsFontFamily: 'Roboto Condensed', sans-serif;

$navbarHeight: 60px;
$footerHeight: 200px;
$textColor: $baseGrey;

@import "bootstrap";
@import "font-awesome";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0 -$footerHeight;
}

#push, #footer {
  height: $footerHeight;
}

body > header {
  .navbar {
    margin-bottom: 0;
  }
}

a {
  color: $lightGrey;
  &:hover { color: $baseRed; text-decoration: none; }
}

h1 > a {
  color: $baseRed;
}

nav.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;

  a.brand {
    background: url(sword_flameless.png) 0 0 no-repeat;
    background-color: $baseRed;
    background-size: 300px 60px;
    width: 300px;
    height: 60px;
    padding: 0;
    margin-top: 10px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      background-color: #FF9100;
    }
  }

  li.share-button {
    margin-left: 10px;
    padding-top: 13px;
  }
}

#home .nav.nav-header, .navbar > .navbar-inner > .nav {
  padding: 0;

  > li {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;

    > a {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px 15px 20px;
      font-size: 16px;
      color: $lightGrey;
      &:hover { color: $baseRed; background: none; }
    }
  }
}

#home .nav.nav-header {
  margin-top: -20px;
  margin-right: 20px;
}

#home {
  .nav.nav-header {
    margin-left: 0;
    padding-left: 0;
    float: right;
    text-transform: none;
  }

  .current-episode {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 0;
  }

  .play-now {
    a {
      color: $baseRed;
      text-decoration: none;
      font-size: 50px;
      h1 { display: inline-block; }
      i { font-size: 40px; }
      &:hover { text-decoration: none; color: darken($baseRed, 10%); }
    }
  }

  section.past-episodes {
    min-height: 400px;
    margin-bottom: 20px;
  }
}

section.share-everything {
  background-color: $veryLightGrey;
}


article {
  .actions {
    font-size: 20px;
  }
}

footer {
  background-color: $baseGrey;
  color: $veryLightGrey;

  > .container {
    padding-top: 10px;
  }

  .brand {
    text-transform: uppercase;
  }
}
