$baseGrey: #292728;
$lightGrey: #999999;
$veryLightGrey: lighten($baseGrey, 80%);
$baseRed: #b0242f;
$flameOrange: #FF9100;
$headingsFontFamily: 'Roboto Condensed', sans-serif;
$baseFontSize: 16px;
$baseLineHeight: 24px;
$transitionDuration: 0.05s;
$dropdownLinkBackgroundHover: $baseRed;

$navbarHeight: 60px;
$footerHeight: 200px;
$textColor: $baseGrey;

$facebookBlue: #4c66a4;
$twitterTeal: #9AE4E8;

@import "bootstrap";
@import "font-awesome";

.btn.btn-mini {
  font-size: 10.5px;
  line-height: 18px;
}

.twitter-follow-button {
  margin-top: 3px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0 -$footerHeight;
}

#push, #footer {
  height: $footerHeight;
}

body #header .navbar {
  margin-bottom: 0;
}

a {
  color: $lightGrey;
  &:hover { color: $baseRed; text-decoration: none; }
}

a > h1 {
  color: $baseRed;
}

ul.social-icons {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;

  > li {
    float: left;
    padding: 0;
    margin: 5px 5px 0 0;
    line-height: 18px;
    &.facebook { padding-top: 3px; }
    &.twitter { padding-top: 0; }
    &.link { padding-top: 2px; }
  }
}

nav.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;

  a.brand {
    background: url(sword_flameless.png) 0 0 no-repeat;
    background-color: $baseRed;
    background-size: 300px 60px;
    width: 300px;
    height: 60px;
    padding: 0;
    margin-top: 10px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      background-color: $flameOrange;
    }
  }

  li.share-button {
    margin-left: 10px;
    padding-top: 13px;
  }
}

.navbar > .navbar-inner > .nav {
  padding: 0;

  > li {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;

    > a {
      margin-top: 10px;
      margin-bottom: 0;
      padding: 20px 15px 20px;
      font-size: 16px;
      color: $lightGrey;
      &:hover { color: $baseRed; background: none; }
    }

    &.dropdown.open {
      > .dropdown-toggle {
        background: none;
      }
    }

    ul.dropdown-menu {
      top: 80%;
      border-radius: 0;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

      > li a {
        // background-color: $baseRed;
        // &:hover { background-color: white; }
      }
    }
  }
}

#home .nav.nav-header {
  margin-top: -20px;
  margin-right: 20px;
}

#home {
  .nav.nav-header {
    margin-left: 0;
    padding-left: 0;
    float: right;
    text-transform: none;
  }

  .current-episode {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 0;
    background: #111 url("fsj_splash.jpg") top right no-repeat;
    color: $veryLightGrey;

    .splash-logo {
      padding-top: 20px;
      // background-color: white;
    }

    .media.episode {
      margin-top: 10px;
      font-size: 18px;
      line-height: 24px;
      .media-object { display: none; }
      a.action { display: none; }
    }
  }

  section.past-episodes {
    min-height: 400px;
    margin-bottom: 20px;
  }
}

div.play-controls {
  float: left;
  clear: both;
  width: 610px;
  position: relative;

  .jp-play, .jp-pause {
    float: left;
    display: block;
    width: 43px;
    height: 53px;
    color: $baseRed;
    font-size: 50px;
    padding: 0 10px 0 0;
  }

  &.playing .bar {
    width: 557px;
  }

  .bar {
    width: 0;
    @include transition(width ease 1s);
    height: 53px;
    float: left;
    position: relative;
    color: $veryLightGrey;
    overflow: hidden;

    .jp-duration, .jp-current-time {
      @include transition(width ease 1s);
      display: block;
      position: absolute;
      font-size: 18px;
      line-height: 24px;
      padding: 4px;
      color: $lightGrey;
      z-index: 0;
    }

    .jp-current-time { bottom: 0; left: 0; }
    .jp-duration { bottom: 0; right: 0; }

    .jp-play-bar {
      height: 100%;
      background-color: $baseRed;
      opacity: 0.7;
    }

    .jp-seek-bar {
      height: 100%;
      background-color: $lightGrey;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

article.media-badge {
  background: transparent url(badge_bg.png) top left repeat;
  margin: 0 10px 20px 0;
  float: left;
  width: 300px;

  > .avatar {
    vertical-align: top;
    display: inline-block;
    background-color: white;
    margin: 2px;

    > img { width: 100px; }
  }

  > .body {
    padding: 5px 5px;
    display: inline-block;
    width: 182px;
    height: 85px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;

    h4 {
      color: $baseRed;
      margin: 4px 0;
      font-size: 16px;
    }
    a.avatar {
      background-color: white;
    }
  }

  > .social {
    @include transition(height ease 0.5s);
    height: 33px;
    overflow: hidden;
    // background-color: $lightGrey;
    // background-color: $baseRed;
    // background-color: rgba(176, 36, 47, 0.4);
    padding: 0 5px 0 5px;
  }
}

.share-everything {
  // background-color: $veryLightGrey;
  margin-top: 20px;

  > .container {
    height: 100px;
  }

  .subscribe {
    overflow: hidden;

    a.itunes {
      display: block;
      height: 100px;
      background: $baseRed image-url("white_circle.png") 130% 50% no-repeat;
      color: white;
      position: relative;
      text-align: left;

      @include transition(background-color linear $transitionDuration);
      &:hover { background-color: darken($baseRed, 5%); }

      i {
        font-size: 95px;
        line-height: 95px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
      }

      span {
        padding-top: 15px;
        padding-left: 10px;
        display: block;
        font-family: $headingsFontFamily;
        color: white;
        font-size: 48px;
        line-height: 38px;

        em { display: block; font-size: 24px; text-decoration: none; }
      }
    }
  }

  .sign-up {
    > section { text-align: left; }

    form {
      margin-bottom: 0;

      input { @include transition(border-color linear $transitionDuration); }
      .submit { @include transition(background-color linear $transitionDuration); }

      &:hover {
        input { border-color: $baseRed; }
        .submit { background-color: $baseRed; }
      }
    }

    input, a {
      font-size: 28px;
      line-height: 40px;
      font-family: $headingsFontFamily;
    }

    input[type=email] {
      border-radius: 0;
      margin-bottom: 0;
      width: 286px;
      height: 40px;
      box-shadow: none;
      border: 1px solid $flameOrange;
    }

    .submit {
      display: block;
      padding: 4px 7px;
      height: 42px;
      width: 286px;
      border-radius: 0;
      background-color: $flameOrange;
      color: white;
    }
  }

  .share {
    .facebook, .twitter {
      color: white;
      display: block;
      height: 50px;
      position: relative;
      font-size: 14px;
      font-family: $headingsFontFamily;
      clear: left;
      @include transition(background-color linear $transitionDuration);

      i {
        font-size: 50px;
        line-height: 48px;
        float: left;
      }

      > .follow {
        float: left;
        margin-top: 7px;
        padding: 8px;
        box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
        @include border-radius(2px);
      }

      &:hover .follow { box-shadow: none; }
    }

    .facebook {
      background-color: $facebookBlue;
      i { margin-left: 68px; margin-right: 22px; }
      > .follow { background-color: darken($facebookBlue, 20%); }
      &:hover { background-color: darken($facebookBlue, 10%); }
    }

    .twitter {
      background-color: $twitterTeal;
      i { margin-left: 47px; margin-right: 10px; }
      > .follow { background-color: darken($twitterTeal, 20%); padding-top: 4px; padding-bottom: 4px; }
      &:hover { background-color: darken($twitterTeal, 10%); }
    }
  }
}

article {
  a.action {
    background-color: $baseRed;
    color: $veryLightGrey;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px;
    margin-left: 2px;

    &:hover {
      background-color: $lightGrey;
    }
  }
}

footer {
  background-color: $baseGrey;
  color: $veryLightGrey;

  > .container {
    padding-top: 10px;
  }

  .brand {
    text-transform: uppercase;
  }
}

.share-this {
  margin: 20px 0;
  padding: 0 10px 10px 10px;
  background-color: $veryLightGrey;
  border: 1px solid $lightGrey;

  label { display: inline-block; margin-bottom: -10px; }

  .copy-shareable-url {
    display: inline-block;
    line-height: 40px;

    input.shareable-url {
      background-color: white;
      cursor: text;
      width: 160px;
      font-size: 12px;
    }
  }

  .share-buttons {
    text-align: center;
  }
}
