@media (max-width: 767px) {
  .full-width {
    margin-left: -$gridGutterWidth;
    margin-right: -$gridGutterWidth;
    padding-left: $gridGutterWidth;
    padding-right: $gridGutterWidth;

    > .overlay {
      margin-left: -$gridGutterWidth;
      margin-right: -$gridGutterWidth;

      > .container {
        padding-left: $gridGutterWidth;
        padding-right: $gridGutterWidth;
      }
    }
  }

  nav.navbar-inner {
    a.btn-navbar {
      margin-top: 25px;
    }
  }

  .affix {
    position: relative;
    top: auto !important;
    left: auto !important;
  }

  ul.breadcrumb { display: none; }
  .main-content { padding-top: 0; }
  h1 { font-size: 36px; line-height: 40px; }

  .full-play-controls {
    .share-episode { display: none; }
  }

  .page-header {
    .logo { display: none; }
    .details { position: static; margin-left: 0; }
  }

  nav.navbar-inner a.brand {
    background-image: image-url("flamingswordmed.png");
    background-color: transparent;
    &:hover { background-color: transparent; }
  }

  .entity-image > .thumbnail {
    position: static;
  }

  .splash-logo {
    h3 {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  nav.navbar-inner a.brand {
    background-image: image-url("flamingswordmed.png");
    background-color: transparent;
    &:hover { background-color: transparent; }
  }

  h1 { font-size: 36px; line-height: 40px; }

  .page-header {
    margin-top: 0;
    .logo { display: none; }
    .details { position: static; margin-left: 0; }
  }

  .subscribe-join-social {
    .subscribe { a.itunes { background-position: 225% 50%; i { right: -20px; } } }
    .sign-up a.submit { font-size: 20px; }
    .share .twitter .follow { margin-left: -20px; }
  }
}
