$baseGrey: #292728;
$lightGrey: #999999;
$veryLightGrey: lighten($baseGrey, 80%);
$baseRed: #b0242f;
$flameOrange: #FF9100;
$headingsFontFamily: 'Roboto Condensed', sans-serif;

$navbarHeight: 60px;
$footerHeight: 200px;
$textColor: $baseGrey;

$facebookBlue: #4c66a4;
$twitterTeal: #9AE4E8;

@import "bootstrap";
@import "font-awesome";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0 -$footerHeight;
}

#push, #footer {
  height: $footerHeight;
}

body > header {
  .navbar {
    margin-bottom: 0;
  }
}

a {
  color: $lightGrey;
  &:hover { color: $baseRed; text-decoration: none; }
}

h1 > a {
  color: $baseRed;
}

nav.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;

  a.brand {
    background: url(sword_flameless.png) 0 0 no-repeat;
    background-color: $baseRed;
    background-size: 300px 60px;
    width: 300px;
    height: 60px;
    padding: 0;
    margin-top: 10px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      background-color: $flameOrange;
    }
  }

  li.share-button {
    margin-left: 10px;
    padding-top: 13px;
  }
}

#home .nav.nav-header, .navbar > .navbar-inner > .nav {
  padding: 0;

  > li {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;

    > a {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px 15px 20px;
      font-size: 16px;
      color: $lightGrey;
      &:hover { color: $baseRed; background: none; }
    }
  }
}

#home .nav.nav-header {
  margin-top: -20px;
  margin-right: 20px;
}

#home {
  .nav.nav-header {
    margin-left: 0;
    padding-left: 0;
    float: right;
    text-transform: none;
  }

  .current-episode {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 0;
  }

  .play-now {
    a {
      color: $baseRed;
      text-decoration: none;
      font-size: 50px;
      h1 { display: inline-block; }
      i { font-size: 40px; }
      &:hover { text-decoration: none; color: darken($baseRed, 10%); }
    }
  }

  section.past-episodes {
    min-height: 400px;
    margin-bottom: 20px;
  }
}

section.share-everything {
  background-color: $veryLightGrey;

  > .container {
    height: 100px;
  }

  .subscribe {
    a.itunes {
      display: block;
      height: 100px;
      background: $baseRed image-url("white_circle.png") 130% 50% no-repeat;
      color: white;
      position: relative;
      text-align: left;
      &:hover { background-color: darken($baseRed, 5%); }

      i {
        font-size: 95px;
        line-height: 95px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
      }

      span {
        padding-top: 15px;
        padding-left: 10px;
        display: block;
        font-family: $headingsFontFamily;
        color: white;
        font-size: 48px;
        line-height: 38px;

        em { display: block; font-size: 24px; text-decoration: none; }
      }
    }
  }

  .sign-up {
    > section { text-align: left; }

    form {
      margin-bottom: 0;
      &:hover {
        input { border-color: $baseRed; }
        .submit { background-color: $baseRed; }
      }
    }

    input, a {
      font-size: 28px;
      line-height: 40px;
      font-family: $headingsFontFamily;
    }

    input[type=email] {
      border-radius: 0;
      margin-bottom: 0;
      width: 286px;
      height: 40px;
      box-shadow: none;
      border: 1px solid $flameOrange;
      @include transition(none);
    }

    .submit {
      display: block;
      padding: 4px 7px;
      height: 42px;
      width: 286px;
      border-radius: 0;
      background-color: $flameOrange;
      color: white;
    }
  }

  .share {
    .facebook, .twitter {
      color: white;
      display: block;
      height: 50px;
      position: relative;
      font-size: 14px;
      font-family: $headingsFontFamily;
      clear: left;

      i {
        font-size: 50px;
        line-height: 50px;
        float: left;
      }

      > div { float: left; margin-top: 5px; }
    }

    .facebook {
      background-color: $facebookBlue;
      i { margin-left: 68px; margin-right: 22px; }
      &:hover { background-color: darken($facebookBlue, 10%); }
    }

    .twitter {
      background-color: $twitterTeal;
      i { margin-left: 47px; margin-right: 10px; }
      &:hover { background-color: darken($twitterTeal, 10%); }
    }
  }
}

article {
  a.action {
    background-color: $baseRed;
    color: $veryLightGrey;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px;
    margin-left: 2px;

    &:hover {
      background-color: $lightGrey;
    }
  }
}

footer {
  background-color: $baseGrey;
  color: $veryLightGrey;

  > .container {
    padding-top: 10px;
  }

  .brand {
    text-transform: uppercase;
  }
}
